{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} Register {% endblock %}

{% with "active" as register_state %}
{% endwith %}


{% block content %}
    <h2> Register </h2>

    <form method="post">
        {% csrf_token %}

        {% for field in form %}
            {{ field.label_tag }} <br>

            {% if field.errors %}
                {% render_field field class="form-control form-control-md border border-danger w-90 d-inline" spellcheck="false" autocorrect="off" %}

                <button type="button" class="btn btn-md btn-danger" data-toggle="popover" title=""
                        data-content="{% for error in field.errors %} {{ error }}&#10;{% endfor %}">?
                </button>

                <p>
            {% else %}

                <p>
                    {#                    {{ field.label_tag }}<br>#}
                    {% render_field field class="form-control form-control-md w-90" spellcheck="false" autocorrect="off" %}</p>
                </p>

            {% endif %}
        {% endfor %}

        {#        <button type="submit"> Register</button>#}
        <p><input type="submit" class="btn btn-primary btn-md"></p>

    </form>

{% endblock %}