{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <h2>Forgot password</h2>

    <p>An email with instructions will be sent to you after you reset your password.</p>



    <form method="post">
        {% csrf_token %}
{#        {{ form.as_p }}#}

        {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {% render_field field class="form-control form-control-md w-90" %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
        {% endfor %}

        <button type="submit" class="btn btn-danger btn-md">Submit</button>
    </form>
{% endblock %}